@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}

html {
  font-size: 62.5%;
}

section {
  padding: 3rem 9%;
}

.contact, .aboutUs, .hero {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
}

.header {
  padding: 2rem 9%;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

#menu-btn {
  display: none;
  font-size: 3rem;
  cursor: pointer;
  color: #000;
}
#menu-btn:hover {
  color: #8f95a5;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 3rem;
}
.navbar a {
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #263238;
  cursor: pointer;
}
.navbar a:hover {
  font-size: 2.5rem;
  color: #8f95a5;
}

.btn {
  color: #000;
  background: #fff;
  border: 1px solid #263238;
  border-radius: 0.4rem;
  margin-top: 1rem;
  padding: 0.9rem 3rem;
}
.btn:hover {
  color: #fff;
  background: #000;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

section {
  padding: 3rem 9%;
}

.contact, .aboutUs, .hero {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
}

.hero {
  padding-top: 5rem;
}
.hero .hero__text {
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: column;
  gap: 3rem;
  flex: 1 1 41rem;
}
.hero .hero__text h1 {
  font-size: 7rem;
  line-height: 80px;
  color: #000;
}
.hero .hero__text p {
  font-size: 2.5rem;
  line-height: 36px;
  color: #8f95a5;
}
.hero .hero__text button {
  color: #fff;
  background: #263238;
  border: 1px solid #263238;
  border-radius: 1.4rem;
  margin-top: 1rem;
  padding: 2.5rem 12rem;
  cursor: pointer;
  font-size: 2rem;
}
.hero .hero__text button:hover {
  color: #000;
  background: #fff;
}
.hero .hero__image {
  flex: 1 1 41rem;
}
.hero .hero__image img {
  width: 100%;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

section {
  padding: 3rem 9%;
}

.contact, .aboutUs, .hero {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
}

.skills {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding-top: 5rem;
  font-size: 4rem;
  line-height: 80px;
}

.skills-courses {
  display: grid;
  grid-template-areas: "A B C" "A D D";
  gap: 10px;
  margin-top: 5rem;
}
.skills-courses .course {
  padding: 4rem 3rem;
  background-color: #f5f5f5;
  border-radius: 10px;
}
.skills-courses .course .course__btn {
  width: 100%;
  background-color: #263238;
  color: #fff;
  padding: 1rem 4rem;
  font-size: 2rem;
  border-radius: 5px;
}
.skills-courses .course .course__btn:hover {
  background-color: #f5f5f5;
  color: #263238;
  border: 1px solid #263238;
}
.skills-courses .course h1 {
  font-size: 3rem;
}
.skills-courses .course p {
  font-size: 2rem;
  padding: 2.5rem 0;
}
.skills-courses .course img {
  width: 100%;
}
.skills-courses .course .areas {
  display: flex;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

section {
  padding: 3rem 9%;
}

.contact, .aboutUs, .hero {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
}

.aboutUs {
  padding-top: 10rem;
}
.aboutUs .aboutUs__text {
  flex: 1 1 55rem;
}
.aboutUs .aboutUs__text h1 {
  font-size: 5rem;
  line-height: 9rem;
}
.aboutUs .aboutUs__text p {
  font-weight: 400;
  font-size: 2rem;
  line-height: 30px;
  color: #8f95a5;
}
.aboutUs .aboutUs__text .aboutUs__text__numbers {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 3rem;
}
.aboutUs .aboutUs__text .aboutUs__text__numbers .aboutUs__text__numbers-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.aboutUs .hidden-h1 {
  font-size: 5rem;
  line-height: 9rem;
  display: none;
}
.aboutUs .aboutUs__image {
  flex: 1 1 46rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.aboutUs .aboutUs__image img {
  width: 80%;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

section {
  padding: 3rem 9%;
}

.contact, .hero, .aboutUs {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
}

.pricing-h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding-top: 10rem;
}
.pricing-h1 h1 {
  font-size: 5rem;
  line-height: 80px;
}

.pricing {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 4rem;
}
.pricing .pricing__content__image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35vh;
}
.pricing .pricing__content__image img {
  width: 79%;
}
.pricing .pricing__content__text {
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.pricing .pricing__content__text h3 {
  font-size: 2rem;
  line-height: 48px;
}
.pricing .pricing__content__text p {
  font-size: 1.5rem;
  line-height: 30px;
  color: #8f95a5;
}
.pricing .pricing__content__text div {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  background-color: #0001;
  width: max-content;
  padding: 0 3rem;
  gap: 1rem;
}
.pricing .pricing__content__text div:hover {
  background-color: #000;
  color: #fff;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

section {
  padding: 3rem 9%;
}

.contact, .hero, .aboutUs {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
}

.contact-h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding-top: 10rem;
  display: none;
}
.contact-h1 h1 {
  font-size: 5rem;
  line-height: 80px;
}

.contact {
  padding-top: 5rem;
  gap: 5rem;
}
.contact .contact__image {
  flex: 1 1 41rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact .contact__image img {
  width: 80%;
}
.contact .contact__text {
  flex: 1 1 55rem;
  height: 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
}
.contact .contact__text h1 {
  font-size: 5rem;
  line-height: 80px;
}
.contact .contact__text p {
  font-size: 1.5rem;
  line-height: 30px;
  color: #8f95a5;
}
.contact .contact__text .contact__text__input input {
  border: 1px solid #263238;
  padding: 0.9rem 6rem;
  border-radius: 4px;
}
.contact .contact__text .contact__text__input button {
  color: #fff;
  background: #000;
  border: 1px solid #263238;
  border-radius: 0.4rem;
  margin-top: 1rem;
  padding: 0.9rem 3rem;
}
.contact .contact__text .contact__text__input button:hover {
  color: #000;
  background: #fff;
}

.footer {
  padding-top: 5rem;
}

.footer__text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  border-top: 1px solid #8f95a5;
  padding-top: 2rem;
}
.footer__text h2 {
  color: #8f95a5;
}

@media (max-width: 1200px) {
  .header {
    padding: 1.5rem 2rem;
  }

  section {
    padding: 3rem 5%;
  }

  .skills-courses {
    grid-template-areas: "A B " "C D ";
  }
  .skills-courses .course .areas {
    flex-direction: column-reverse;
  }

  .aboutUs {
    text-align: center;
    flex-direction: column-reverse;
  }
  .aboutUs .aboutUs__text .eye-h1 {
    display: none;
  }
  .aboutUs .hidden-h1 {
    display: inline-block;
  }
}
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  .header {
    padding: 2rem;
  }

  section {
    padding: 3rem 2rem;
  }

  .skills-courses {
    grid-template-areas: "A B " "C D ";
  }
  .skills-courses .course .areas {
    flex-direction: column-reverse;
  }
}
@media (max-width: 923px) {
  .contact-h1 {
    width: 100%;
    text-align: center;
    display: inline-block;
  }

  .contact__text {
    padding-top: 10rem;
    text-align: center;
  }
  .contact__text h1 {
    display: none;
  }
}
@media (max-width: 783px) {
  #menu-btn {
    display: inline-block;
  }

  .navbar,
.btn {
    display: none;
  }

  .hero {
    flex-direction: column-reverse;
    text-align: center;
  }
  .hero .hero__text {
    align-items: center;
  }
}
@media (max-width: 600px) {
  .pricing__content__text {
    text-align: center;
    align-items: center;
  }
}
@media (max-width: 495px) {
  .footer {
    padding-top: 15rem;
  }

  .footer__text {
    text-align: center;
    justify-content: center;
    gap: 2rem;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .skills-courses {
    grid-template-areas: "A" "B" "C" "D";
  }
  .skills-courses .course {
    text-align: center;
  }

  .aboutUs__text__numbers {
    flex-direction: column;
    gap: 3rem;
    padding-top: 3rem;
  }
}
@media (max-width: 320px) {
  html {
    font-size: 40%;
  }
}
